/*------------------------
    body
-----------------------------*/
body{
    /*font: Microsoft YaHei;*/
}
/*------------------------
    aside
-----------------------------*/
aside{
    position: fixed;
    width: 21%;
    height: auto;
    top: 0;
    left: 0;
    bottom: 0;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 30px;
    /*background: #798EA0;*/
    background: rgba(100, 101, 102, 0.94);
}
aside img{
    height: 150px;
}
aside h1{
    text-align: center;
}
aside p.disc{
    font-size: 13px;
    text-align: center;
}
aside ul{
    list-style: none;
    text-align: center;
    font: 16px/1.5 'PT Serif', Times, Microsoft YaHei, serif;
}
aside ul li a{
    color: #2B3238;
    text-decoration: none !important;
    display: inline-block;
    margin:2px 0 2px 0px;
}
aside ul li a:hover{
    color: #BEC7CF;
}


/*------------------------
    section
-----------------------------*/
section{
    position: relative;
    left: 23%;
    margin-left: 0;
    width: 65%;
    padding-left: 3%;
    padding-right: 3%;
    font: 16px/1.5 'PT Serif', Times, Microsoft YaHei, serif;
}
section, footer, header, aside{
    display: block;
}
section title{

}
code, pre {
    padding: 0 3px 2px;
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
    font-size: 12px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
code {
    display: inline;
    padding: 2px 4px;
    color: #862940;
    white-space: nowrap;
    background-color: #f4f4f4;
    border: 1px solid #e1e1e8;
    width: 70%;
}

pre code {
    display: block;
    overflow-x: scroll;
    background: #f4f4f4;
    padding: 5px 10px;
    border: 1px solid #eee;
    white-space: pre-wrap;
}

@media all and (max-width: 800px){
    aside{
        margin-left: 0;
        position: static;
        width: 90%;
        padding: 5%;
        text-align: center;
    }
    section{
        left: 2px;
        width: 92%;
    }
}